.resultWrapper {
  width: 413px;
  height: 417px;
  border-radius: 15px;
  background-color: var(--very_dark_cyan);
  padding: 56px 40px;
}

.tipResult,
.totalResult {
  display: flex;
  justify-content: space-between;
}

h3 {
  color: #ffffff;
  font-size: 16px;
  font-family: "Space Mono";
  position: relative;
}

h3::after {
  position: absolute;
  content: '/ person';
  width: 70px;
  color: #7F9D9F;
  top: 23px;
  left: 0px;
  font-size: 13px;


}

.totalResult {
  margin-top: 53px;
}

.resultTip,
.resultTotal {
  margin-top: -15px;
  font-size: 48px;
  line-height: 71px;
  color: var(--cyan);

}

.reset {
  width: 333px;
  height: 48px;
  border-radius: 5px;
  background-color: var(--dark_cyan);
  margin-top: 109px;
  color: var(--very_dark_cyan);
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;

}

.reset:hover {
  background-color: var(--hover_reset);
}

@media screen and (max-width: 850px) {
  .resultWrapper {
    width: 327px;
    height: 257px;
    padding: 37px 22px;
  }

  .tipResult {
    margin-top: 6px;
  }

  .totalResult {
    margin-top: 17px;
  }

  .resultTip,
  .resultTotal {
    margin-top: -25px;
    font-size: 32px;
  }

  .reset {
    width: 281px;
    height: 48px;
    margin-top: 30px;
    color: var(--very_dark_cyan);
    font-size: 20px;
    transition: all 1s linear;
  }
}